h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
}
li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
/*=======*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*=======*/
ul {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

#js-container:last-child {
  background-color: green;
}
